@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
     --blue: #2A4DD0;
     --green: #4CA154;
     --black: #111729;
     --dark_blue: #223344;
     --gray: #909193;
     --light_gray: #F2F9FE;
     --white: #FFFFFF;
}
body{
     width: 100vw;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     overflow-x: hidden;
     background: var(--light_gray);
}
header{
     width: 90vw;
     margin-inline: auto;

}
.navbar{
     width: 100%;
     max-height: 100px;
     margin-inline: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.nav-items{
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 30px;
     
     li{
          list-style: none;
          color: var(--gray);
          transition: 20ms ease-in-out;
           font-size: 14px;
           font-weight: 700;

     }

}

.nav-items .active{
     color: var(--black);
}

.theme-toggler{
     display: flex;
     padding: 2px;
     justify-content: start;
     background-color: var(--dark_blue);
     border-radius: 20px ;
     color: var(--white);
     .dark-moon{
          display: none;
     }
     .sun{
          border-radius: 50%;
          background: var(--light_gray);
     }
}

.hero{
     width: 90vw;
     margin-inline: auto;
     margin-top: 40px; 
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
}

.hero-info{
     display: flex;
     flex-direction: column;
     justify-items: center;
     column-gap: 4px;

     h3{
          font-size: 14px;
          color: var(--dark_blue);
          font-weight: 600;
     }

     p{
          color: var(--gray);
          font-size: 18px;
     }

}
.hero-title{
     margin: 0;
     font-size: 60px;
     color: var(--dark_blue);
}

.hero-image{
     img{
          width:500px;
          object-fit: cover;
     }
}

.actions{
     display: flex;
     justify-content: start;
     align-items: center;
     column-gap: 20px;

     button{
          border: none;
          padding-block: 15px;
          padding-inline: 20px;
          border-radius: 10px;
          background: var(--blue);
          color: var(--light_gray);
     }
     a{
          color: var(--blue);
          font-weight: 700;
     }
}

.hero-notice{
     display: flex;
     justify-content: start;
     align-items: center;
     column-gap: 20px;
     margin-top: 20px;

     p{
          display: flex;
          justify-content: start;
          align-items: center;
          column-gap: 15px;
          color: var(--gray);
          font-size: 14px;
          font-weight: 700;
     }
}